ion-header {

  ion-button {
    font-size: 12px;
    //color: #383a3e;
    padding: auto;
  }

  ion-icon {
    color: #383a3e;
    font-size: 14px;
    padding-right: 10px;
  }
}

.ion-search-icon {
  background-image: src="assets/icon/magnifying-glass.svg";
}

ion-tab-bar {
  display: flex;
  overflow-x: scroll;
  .segment-item {
    display: inline-block !important;
    min-width: 100px !important;
    width: auto !important;
  }
}

//ion-searchbar {
//  .searchbar-input {
//    //background: black !important;
//    border-radius: 30px !important;
//    height: 40px !important;
//    max-width: 400px;
//    font-size: 1.25em !important;
//    border: 1px solid transparent;
//  }
//}
